<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css"/>
<div class="menu-row">
    <div class="menu-container"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
         xmlns:th="http://www.thymeleaf.org">
        <a th:href="@{/}" th:text="#{main.page}"></a>
        |
        <th:block sec:authorize="hasAuthority('ROLE_USER')">
            <a th:href="@{/user/foodmenu(page=1)}" th:text="#{foodmenu.title}"></a>
            |
            <a th:href="@{/user/shoppingcart}" th:text="#{shoppingcart.title}"></a>
            |
            <a th:href="@{/user/addfunds}" th:text="#{addfunds.title}"></a>
            |
            <a th:href="@{/user/billpaying}" th:text="#{billpayind.title}"></a>
            |
            <a th:href="@{/user/concreteuserstatistic}" th:text="#{concreteuserstatistic.title}"></a>
            |
        </th:block>

        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/admin/orderconfirmation}" th:text="#{orderconfirmation.title}"></a>
            |
            <a th:href="@{/admin/billmaking}" th:text="#{billmakint.title}"></a>
            |
            <a th:href="@{/admin/userstatistics}" th:text="#{userstatistics.title}"></a>
            |
        </th:block>
    </div>
    <div class="header-container"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
         xmlns:th="http://www.thymeleaf.org">
        <div class="header-bar">
            <th:block sec:authorize="isAuthenticated()">
                <a th:utext="${#request.userPrincipal.name}">..</a>
                &nbsp;|&nbsp;
                <a th:href="@{/logout}" th:text="#{authentication.label.logout}">Logout</a>
            </th:block>
            |
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                <a th:href="@{${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}}" th:text="#{lang.en}"></a>
                |
                <a th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').toUriString()}}" th:text="#{lang.ua}"></a>
            </a>
            |
        </div>
    </div>
</div>