<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addfunds.title}"></title>
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
</head>
<body>
<th:block th:include="/_menu"/>
<div align="center" class="container" th:action="@{addfunds}" th:object="${user}">
    <h1 th:text="#{addfunds.label.header}"></h1>
    <p>
        <label th:text="#{addfunds.label.currentfunds}"></label>
        <label th:text="*{funds}"></label>
    </p>
    <div class="alert alert-danger" role="alert"
         th:align="center" th:if="${failureMessage}"
         th:text="#{${failureMessage}}">
    </div>
    <form action="#" method="post" th:action="@{addfunds}">
        <h2 class="form-signin-heading" th:text="#{authentication.label.enterData}"></h2>
        <p>
            <label class="sr-only" for="funds"></label>
            <input autofocus class="form-control" id="funds" name="funds" required
                   th:placeholder="#{addfunds.label.amount}" type="number">
        </p>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{addfunds.button.add}" type="submit"></button>
    </form>
</div>
</body>
</html>