<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addfunds.title}"></title>

</head>
<body>
<th:block th:include="/_header"/>
<th:block th:include="/_menu"/>
    <div align="center" th:action="@{addfunds}" class="container" th:object="${user}">
        <h1 th:text="#{addfunds.label.header}"></h1>
        <p>
            <label th:text="#{addfunds.label.currentfunds}"></label>
            <label th:text="*{funds}"></label>
        </p>
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <label th:text="#{addfunds.label.error}"></label>
        </div>
        <form th:action="@{addfunds}" action="#" method="post">
            <h2 class="form-signin-heading" th:text="#{authentication.label.enterData}"></h2>
            <p>
                <label for="funds" class="sr-only"></label>
                <input type="number" id="funds" name="funds" class="form-control" th:placeholder="#{addfunds.label.amount}"
                       required autofocus>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{addfunds.button.add}"></button>
        </form>
    </div>
<th:block th:include="/_footer"/>
</body>
</html>