<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}"></title>
    <link href="/../css/index.css"
          rel="stylesheet"
          th:href="@{/css/index.css}" type="text/css"
    />
</head>
<body>
<th:block th:include="/_menu"/>
<header class="header">
    <div class="brand-box">
        <span class="brand" th:text="#{index.label.brandName}"></span>
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main" th:text="#{index.label.primaryHeading}"></span>
            <span class="heading-primary-sub" th:text="#{index.label.secondaryHeading}"></span>
        </h1>
        <a class="btn btn-white btn-animated" href="/login" th:text="#{index.button.lestEat}">Let's eat</a>
    </div>
</header>
<th:block th:include="/_footer"/>
</body>
</html>