<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title th:text="#{signup.title}"></title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
</head>
<body>
<th:block th:include="/_menu"/>
<div align="center" class="container">
    <form action="#" class="form-signup" method="post" th:action="@{signup}" th:object="${user}">
        <h2 class="form-signin-heading" th:text="#{authentication.label.enterData}"></h2>
        <div class="alert alert-danger"
             role="alert" th:if="${failureMessage}"
             th:text="#{${failureMessage}}">
        </div>
        <p>
            <label class="sr-only" for="nameEn">Name En</label>
            <input autofocus class="form-control" id="nameEn" name="nameEn" required
                   th:field="*{nameEN}"
                   th:placeholder="#{signup.label.nameEn}" type="text">
        </p>
        <p>
            <label class="sr-only" for="nameUa">Name Ua</label>
            <input autofocus class="form-control" id="nameUa" name="nameUa" required
                   th:field="*{nameUA}"
                   th:placeholder="#{signup.label.nameUa}" type="text">
        </p>
        <p>
            <label class="sr-only" for="username">Username</label>
            <input autofocus class="form-control" id="username" name="username" required
                   th:field="*{username}" th:placeholder="#{authentication.label.username}" type="text">
        </p>
        <p>
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" id="password" name="password" required th:field="*{password}"
                   th:placeholder="#{authentication.label.password}" type="password">
        </p>
        <input name="_csrf" type="hidden" value="900d2f30-bf67-43a2-86f0-016a9d5914a9"/>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{signup.button.signUp}" type="submit">
            <in></in>
        </button>
        <div class="row row justify-content-center">
            <div><p class="message" th:text="#{signup.label.isAlreadyRegistered}"></p></div>
            <div><a href="login" th:text="#{signup.label.logIn}"></a></div>
        </div>
    </form>
</div>
</body>
</html>